<div class="container">
    <h1> My Store</h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div *ngFor='let store of stores; let i = index'>
                <div>
                    <h4 id={{i}} appHighlight>{{store.customer_id}} Expires on: {{store.productDate|date|lowercase}}</h4>
                    <button (click)='toggleDetails(i)' class="btn btn-primary"> Product</button>

                    <div *ngIf='store.showDescription'>
                        <button (click)='store' (isPick)=' pickStore($event,i) '> Pick </button>

                        <app-store-detail [store]='store ' (isPick)='deleteStore($event,i) '></app-store-detail>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-9">
                    <app-store-form></app-store-form>
                </div>
                <p *ngIf=' stores.length>6'> Too many products</p>
            </div>
        </div>
    </div>