<div class="container-fluid">
    <h2 class=" text-center "> Subscribe in our store
    </h2>
    <hr>
    <form #storeForm='ngForm'>
        <div class="form-group ">

            <label for="name ">Name</label>
            <input type="text " required class="form-control " id="name ">


            <form action="/action_page.php " novalidate>
                <label for="email ">Enter your Email Address:</label>
                <input type="email " id="email " name="email " required><br><br>
                <button type=" submit ">Submit</button>